<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{ resources|safe }}
    {{ script|safe }}
    <title>Post Details-Labyrinth</title>
  </head>
  <body>
    <div>Labyrinth :
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('analyse') }}">Data Analysis</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h1>Post Details</h1>
    <p>Username:<a href="/profile/{{uname}}">{{uname}}</a></p>
    <p>Post Domain {{dom}}</p>
    {{ div|safe }}
  </body>
</html>
